<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/mainstyle.css">
</head>
<body>
<header class="header">
    <a href="/"><img src="../static/logo.png"></a>
    <nav class="menu">
        <ul>
            <li><a href="/uslugi">Услуги</a></li>
            <li><a href="/kontakty">Контакты</a></li>
            <li><a href="/pro_nas">Про нас</a></li>
        </ul>
    </nav>
</header>

<main class="main">
    <!-- Контент главной страницы -->
    <h1>Простой и удобный сервис</h1>
    <h2>Делаем работу быстро и качественно</h2>
    <a href="/uslugi"><button class="main-button">Посмотреть услуги</button></a>
</main>

<footer class="footer">
    <div>@Michael - Все права защищены</div>
</footer>
</body>
</html>